<a href="https://colab.research.google.com/github/NolanniLB/DS-Unit-2-Applied-Modeling/blob/master/NolanniB_LS_DS_231_assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lambda School Data Science

*Unit 2, Sprint 3, Module 1*

---


# Define ML problems

You will use your portfolio project dataset for all assignments this sprint.

## Assignment

Complete these tasks for your project, and document your decisions.

- [ ] Choose your target. Which column in your tabular dataset will you predict?
- [ ] Is your problem regression or classification?
- [ ] How is your target distributed?
    - Classification: How many classes? Are the classes imbalanced?
    - Regression: Is the target right-skewed? If so, you may want to log transform the target.
- [ ] Choose your evaluation metric(s).
    - Classification: Is your majority class frequency >= 50% and < 70% ? If so, you can just use accuracy if you want. Outside that range, accuracy could be misleading. What evaluation metric will you choose, in addition to or instead of accuracy?
    - Regression: Will you use mean absolute error, root mean squared error, R^2, or other regression metrics?
- [ ] Choose which observations you will use to train, validate, and test your model.
    - Are some observations outliers? Will you exclude them?
    - Will you do a random split or a time-based split?
- [ ] Begin to clean and explore your data.
- [ ] Begin to choose which features, if any, to exclude. Would some features "leak" future information?

If you haven't found a dataset yet, do that today. [Review requirements for your portfolio project](https://lambdaschool.github.io/ds/unit2) and choose your dataset.

Some students worry, ***what if my model isn't “good”?*** Then, [produce a detailed tribute to your wrongness. That is science!](https://twitter.com/nathanwpyle/status/1176860147223867393)

In [1]:
!wget -O critters.csv https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD
import pandas as pd
df = pd.read_csv('Austin_Animal_Center_Outcomes-2.csv')
print(df.shape)
df.head()

--2020-06-10 03:37:35--  https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD
Resolving data.austintexas.gov (data.austintexas.gov)... 52.206.140.199, 52.206.68.26, 52.206.140.205
Connecting to data.austintexas.gov (data.austintexas.gov)|52.206.140.199|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: unspecified [text/csv]
Saving to: ‘critters.csv’

critters.csv            [                <=> ]  15.87M  4.08MB/s    in 3.8s

2020-06-10 03:37:39 (4.13 MB/s) - ‘critters.csv’ saved [16643243]

(117994, 12)

  Animal ID        Name  ...                               Breed              Color
0   A794011       Chunk  ...              Domestic Shorthair Mix  Brown Tabby/White
1   A776359       Gizmo  ...             Chihuahua Shorthair Mix        White/Brown
2   A720371       Moose  ...  Anatol Shepherd/Labrador Retriever               Buff
3   A674754         NaN  ...              Domestic Shorthair Mix       Orange Tabby
4   A689724  *Donatello  ...              Domestic Shorthair Mix              Black

[5 rows x 12 columns]

In [2]:
# Look for missing values
df.isnull().sum()

Animal ID               0
Name                36967
DateTime                0
MonthYear               0
Date of Birth           0
Outcome Type            8
Outcome Subtype     64354
Animal Type             0
Sex upon Outcome        4
Age upon Outcome       52
Breed                   0
Color                   0
dtype: int64

In [3]:
df.dtypes

Animal ID           object
Name                object
DateTime            object
MonthYear           object
Date of Birth       object
Outcome Type        object
Outcome Subtype     object
Animal Type         object
Sex upon Outcome    object
Age upon Outcome    object
Breed               object
Color               object
dtype: object

In [4]:
df['Outcome Type'].unique()

array(['Rto-Adopt', 'Adoption', 'Transfer', 'Return to Owner',
       'Euthanasia', 'Died', 'Disposal', 'Missing', 'Relocate', nan],
      dtype=object)

In [0]:
from sklearn.model_selection import train_test_split
train, test = train_test_split( df, train_size=0.80, random_state=42)

In [6]:
train.head()

      Animal ID     Name  ...                            Breed                Color
58003   A808234  Jasmine  ...                            Boxer                Brown
58368   A608937   Muneca  ...                     Pit Bull Mix  Brown Brindle/White
70730   A672753      NaN  ...      Miniature Schnauzer/Whippet                White
59307   A730737      NaN  ...                  German Shepherd            Black/Tan
97418   A765376    *Zora  ...  Australian Kelpie/Border Collie             Tricolor

[5 rows x 12 columns]

In [0]:
target = 'Outcome Type'
features = ['Age upon Outcome','Animal Type','Sex upon Outcome','Breed','Color']

x_train = train[features]
x_test = test[features]
y_train= train[target]
y_test = test[target]

In [8]:
df[target].value_counts(normalize= True,dropna=False )

Adoption           0.440463
Transfer           0.297007
Return to Owner    0.175763
Euthanasia         0.067283
Died               0.009161
Rto-Adopt          0.005238
Disposal           0.004280
Missing            0.000568
Relocate           0.000170
NaN                0.000068
Name: Outcome Type, dtype: float64

In [13]:
y_train.fillna('mis', inplace=True)

/usr/local/lib/python3.6/dist-packages/pandas/core/generic.py:6245: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [14]:
# the baseline
from sklearn.metrics import accuracy_score
majority_class = y_train.mode()[0]
y_train_pred = [majority_class]*len(y_train)
accuracy_score(y_train, y_train_pred)

0.44027755707399757